
.elementor-widget-image{
  text-align:center}
  .elementor-widget-image a{
    display:inline-block}
    .elementor-widget-image a img[src$=".svg"]{
      width:48px}
      .elementor-widget-image img{
        vertical-align:middle;display:inline-block;margin-top: 45px}
        body:not(.rtl) .elementor-6443 .elementor-element.elementor-element-4db4a40 {
          left: 8%;
      }   
      .elementor-6443 .elementor-element.elementor-element-4db4a40 {
        width: auto;
        max-width: auto;
        bottom: 80px;
    }
  