

{% load static %}
<!Doctype html>
<html lang="en">

  <head>
    <title>Amit Chapke</title>
    <link rel="icon" type="image/x-icon" href="https://cdn3.vectorstock.com/i/1000x1000/35/72/arm-with-dumbbell-gym-fitness-logo-vector-27493572.jpg">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <meta name="keywords" content="html, css, javascript, django">
    <meta name="author" content="cruz.ai">

    
    <link rel="stylesheet" href="{% static 'css/support/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/support/aos.css' %}">
    <link rel="stylesheet" href="{% static 'css/support/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/support/bootstrap.min.css' %}">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet" />
    <!-- Theme Style -->
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="{% static 'css/faq.css'%}">
    <link rel="stylesheet" href="{% static 'css/journal.css'%}">
    <link rel="stylesheet" href="{% static 'css/hero.css'%}">
    <link rel="stylesheet" href="{% static 'css/cards.css'%}">
    <link rel="stylesheet" href="{% static 'css/contact.css'%}">
    <link rel="stylesheet" href="{% static 'css/service.css'%}">
    <link rel="stylesheet" href="{% static 'css/flick.css'%}">
    <link rel="stylesheet" href="{% static 'css/schedule-btn.css'%}">
    <link rel="stylesheet" href="{% static 'css/eleminator.css'%}">

    <link rel='stylesheet' id='ct-main-styles-css' href="{% static 'css/file_88.css' %}" media="all"/> 
     

                    

  </head>


  <body data-spy="scroll" data-target=".site-nav-target" data-offset="200">

    <nav class="unslate_co--site-mobile-menu">
        <div class="close-wrap d-flex">
            <a href="#" class="d-flex ml-auto js-menu-toggle">
            <span class="close-label">Close</span>
            <div class="close-times">
                <span class="bar1"></span>
                <span class="bar2"></span>
            </div>
            </a>
        </div>
        <div class="site-mobile-inner"></div>
    </nav>


    <div class="unslate_co--site-wrap">
        <div class="unslate_co--site-inner">

          <div class="lines-wrap">
              <div class="lines-inner">
              <div class="lines"></div>
              </div>
          </div>
          
          <nav class="unslate_co--site-nav site-nav-target">

              <div class="container">
              
                <div class="row align-items-center justify-content-between text-left">
                    <div class="col-md-5 text-right">
                    <ul class="site-nav-ul js-clone-nav text-left d-none d-lg-inline-block">
                        <li class="has-children">
                        <a href="{% url 'indexpage' %}" class="nav-link">Home</a>
                        
                        </li>
                        <li><a href="#journal-section" class="nav-link">Top Transformations</a></li>
                        <li><a href="#about-section" class="nav-link">About Me</a></li>
                        <li><a href="#services-section" class="nav-link">Plans & Pricing</a></li>
                      </ul>
                    </div>
                    <div class="site-logo pos-absolute">
                      <a href="{% url 'indexpage' %}" class="unslate_co--site-logo" style="font-size: medium;">Amit<span>.</span>Chapke</a>
                    </div>
                    <div class="col-md-5 text-right text-lg-left">
                    <ul class="site-nav-ul js-clone-nav text-left d-none d-lg-inline-block">
                        <li><a href="#testimonial-section" class="nav-link">Testimonials</a></li>
                        <li><a href="#faq-section" class="nav-link">FAQ's</a></li>
                        <li><a href="#contact-section" class="nav-link">Contact</a></li> 
                    </ul>

                    <ul class="site-nav-ul-none-onepage text-right d-inline-block d-lg-none">
                        <li><a href="#" class="js-menu-toggle" style="font-size:medium">Menu</a></li>
                    </ul>

                    </div>
                </div>

              </div>

          </nav>

          <!-- banner -->
          <div class="container">          
            <div class="elementor-element elementor-element-1388074 elementor-widget elementor-widget-image" data-id="1388074" data-element_type="widget" data-widget_type="image.default">
              <div class="elementor-widget-container">						
                  <img decoding="async" width="1900" height="1004" 
                  src="{% static 'images/1536x569px_Amit_Chapke_Banner.png'%}" class="attachment-full size-full" alt="" loading="lazy" 
                  srcset="{% static 'images/1536x569px_Amit_Chapke_Banner.png'%} 1900w, 
                  {% static 'images/64x24px_Amit_Chapke_Banner.png'%} 300w, 
                  {% static 'images/600x222px_Amit_Chapke_Banner.png'%} 600w, 
                  https://thepfc.in/wp-content/uploads/2022/10/811-1-64x24.png 64w, 
                  {% static 'images/768x285px_Amit_Chapke_Banner.png'%} 768w, 
                  {% static 'images/1024x379px_Amit_Chapke_Banner.png'%} 1024w, 
                  {% static 'images/1536x569px_Amit_Chapke_Banner.png'%} 1536w"
                    sizes="(max-width: 1900px) 100vw, 1900px">															
                  </div>
                  
              </div>
          </div>

          <div class="schedule-btn">
          <button class="schedule" style="margin-top: 15px;"><a class='sbtn' href="https://calendly.com/amitchapke/introcall">Schedule a Free Call</a></button>
          </div>

          <div class="unslate_co--section" id="journal-section">
            <div class="container">
            <div class="section-heading-wrap text-center mb-5">
                <h2 class="heading-h2 text-center divider"><span class="gsap-reveal">Top Transformations</span></h2>
                <span class="gsap-reveal"><img src="{% static 'images/divider.png' %}" alt="divider" width="76"></span>
            </div>

            

                <!-- Flickity HTML init -->
            <div class="carousel" data-flickity='{ "autoPlay": 5000,"wrapAround": true,"prevNextButtons": false,"cellAlign": "left" }'>
            <div class="carousel-cell">
            <img src="{% static 'images/Transformation/post_1.jpeg' %}"alt="orange tree"/></div>
            <div class="carousel-cell">
            <img src="{% static 'images/Transformation/post_2.jpeg' %}" alt="One World Trade" /></div>
            <div class="carousel-cell">
            <img src="{% static 'images/Transformation/post_3.jpeg' %}" alt="drizzle" /></div>
            <div class="carousel-cell"> 
            <img src="{% static 'images/Transformation/post_4.jpeg' %}" alt="cat nose" /></div>
            <div class="carousel-cell"> 
            <img src="{% static 'images/Transformation/post_5.jpg' %}" alt="cat nose" /></div>
            <div class="carousel-cell"> 
            <img src="{% static 'images/Transformation/post_6.jpeg' %}" alt="cat nose" /></div>
            <div class="carousel-cell"> 
            <img src="{% static 'images/Transformation/post_7.jpg' %}" alt="cat nose" /></div>
            <div class="carousel-cell"> 
            <img src="{% static 'images/Transformation/post_8.jpeg' %}" alt="cat nose" /></div>
            <div class="carousel-cell"> 
            <img src="{% static 'images/Transformation/post_9.jpeg' %}" alt="cat nose" /></div>
                

              
                
            </div>

            
            

            

            
            </div>
          </div>

          <div class="unslate_co--section" id="about-section">
              <div class="container">
      
                  <div class="section-heading-wrap text-center mb-5">
                    <h2 class="heading-h2 text-center divider"><span class="gsap-reveal">About Me</span></h2>
                    <span class="gsap-reveal"><img src="{% static 'images/divider.png' %}" alt="divider" width="76"></span>
                  </div>

                  <div class="section-heading-wrap text-center mb-5">
                    <div class="row mt-5 justify-content-between">
                      <div class="col-lg-7 mb-5 mb-lg-0" >
                        <img  class="coach-img" src="{% static 'images/Transformation/coach.jpeg' %}" alt="" width="350" height="300" ;">
                        
                      </div>
                    
                      <div class="col-lg-4 pr-lg-5">
                        <h3 class="mb-2 heading-h3"><span class="gsap-reveal">Meet Your Coach</span></h3>
                        <p class="lead gsap-reveal">Hi, I'm Amit! 
                          Former chubby engineer turned certified fitness professional. I have transformed over 100+ busy Indian professionals across the globe. My approach is very simple, I create a program around your lifestyle which helps you stay consistent and then results automatically follow. Looking forward to helping you build a sustainable healthy lifestyle.
                          </p>
                        
                      </div>
                    </div>
                    </div>
              </div>
          </div>
          <style>
            #about-section{
              margin-bottom: -57px;
            }
          </style>

          <div class="unslate_co--section" id="services-section">
            <div class="container">
              <div class="section-heading-wrap text-center mb-5">
              <h2 class="heading-h2 text-center divider"><span class="gsap-reveal">Plans & Pricing</span></h2>
              <span class="gsap-reveal"><img src="{% static 'images/divider.png' %}" alt="divider" width="76"></span>
              </div>
            </div>
            

            <div class="containers">
                <div class="switch-wrapper">
                  <input id="monthly" type="radio" name="switch" checked>
                  <input id="yearly" type="radio" name="switch">
                  <label for="monthly">INR</label>
                  <label for="yearly">USD</label>
                  <span class="highlighter"></span>
                </div>
                <div class="table-wrapper">
                  <table>
                    <thead>
                      <tr>
                        <th>
                          <div>
                            Select your plan
                            <div class="svg-wrapper">
                              <svg viewBox="0 0 24 24">
                                <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm1 17v-4h-8v-2h8v-4l6 5-6 5z" />
                              </svg>
                            </div>
                          </div>
                        </th>
                        <th>
                          <div class="heading">3 Months</div>
                          <div class="info">
                            <div class="price monthly">
                              <div class="amount"><s>&#8377;15,000</s></div><br>
                              <div class="amount">&#8377;10,000 </div>
                            </div>
                            <div class="price yearly hide">
                              <div class="amount"><s>&#36;181.59</s></div><br>
                              <div class="amount">&#36;120.90</div>
                            </div>
                            <button type="button"><a href="https://rzp.io/i/DhwpgnKK1t">Get Started</a></button>
                          </div>
                        </th>
                        <th>
                          <div class="heading">6 Months</div>
                          <div class="info">
                            <div class="price monthly">
                              <div class="amount"><s>&#8377;20,000</s></div><br>
                              <div class="amount">&#8377;15,000 </div>
                            </div>
                            <div class="price yearly hide">
                              <div class="amount"><s>&#36;242.12</s></div><br>
                              <div class="amount">&#36;181.35 </div>
                            </div>
                            <button type="button"> <a href="https://rzp.io/i/X1sD9Fw">Get Started</a></button>
                          </div>
                        </th>
                        <th>
                          <div class="heading">12 Months</div>
                          <div class="info">
                            <div class="price monthly">
                              <div class="amount"><s>&#8377;30,000</s></div><br>
                              <div class="amount">&#8377;20,000</div>
                            </div>
                            <div class="price yearly hide">
                              <div class="amount"><s>&#36;363.18</s></div><br>
                              <div class="amount">&#36;241.80 </div>
                            </div>
                            <button type="button"> <a href="https://rzp.io/i/zt8cFqONUS"> Get Started</a></button>
                          </div>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Daily Progress Tracking</td>
                        <td>
                          <svg class="starter" viewBox="0 0 24 24">
                            <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z" />
                          </svg>
                        </td>
                        <td>
                          <svg class="essential" viewBox="0 0 24 24">
                            <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z" />
                          </svg>
                        </td>
                        <td>
                          <svg class="professional" viewBox="0 0 24 24">
                            <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z" />
                          </svg>
                        </td>
                      </tr>
                      <tr>
                        <td>Weekly Check-ins</td>
                        <td>
                          <svg class="starter" viewBox="0 0 24 24">
                            <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z" />
                          </svg>
                        </td>
                        <td>
                          <svg class="essential" viewBox="0 0 24 24">
                            <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z" />
                          </svg>
                        </td>
                        <td>
                          <svg class="professional" viewBox="0 0 24 24">
                            <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z" />
                          </svg>
                        </td>
                      </tr>
                      <tr>
                        <td>Daily Training Review</td>
                        <td>
                          <svg class="starter" viewBox="0 0 24 24">
                            <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z" />
                          </svg>
                        </td>
                        <td>
                          <svg class="essential" viewBox="0 0 24 24">
                            <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z" />
                          </svg>
                        </td>
                        <td>
                          <svg class="professional" viewBox="0 0 24 24">
                            <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z" />
                          </svg>
                        </td>
                      </tr>
                      <tr>
                        <td>Blood Report Monitoring</td>
                        <td>
                          <svg class="starter" viewBox="0 0 24 24">
                            <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z" />
                          </svg>
                        </td>
                        <td>
                          <svg class="essential" viewBox="0 0 24 24">
                            <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z" />
                          </svg>
                        </td>
                        <td>
                          <svg class="professional" viewBox="0 0 24 24">
                            <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z" />
                          </svg>
                        </td>
                      </tr>
                      <tr>
                        <td> 24 x 7 WhatsApp Support</td>
                        <td>
                          <svg class="starter" viewBox="0 0 24 24">
                            <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z" />
                          </svg>
                        </td>
                        <td>
                          <svg class="essential" viewBox="0 0 24 24">
                            <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z" />
                          </svg>
                        </td>
                        <td>
                          <svg class="professional" viewBox="0 0 24 24">
                            <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.959 17l-4.5-4.319 1.395-1.435 3.08 2.937 7.021-7.183 1.422 1.409-8.418 8.591z" />
                          </svg>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>

          </div>
          
          
          <div class="unslate_co--section" id="testimonial-section">
            <div class="container">
            <div class="section-heading-wrap text-center mb-5">
                <h2 class="heading-h2 text-center divider"><span class="gsap-reveal">Testimonials</span></h2>
                <span class="gsap-reveal"><img src="{% static 'images/divider.png' %}" alt="divider" width="76"></span>
            </div>
            </div>

            <div class="owl-carousel testimonial-slider">


              <div>
                <div class="testimonial-v1">
                <div class="testimonial-inner-bg">
                    <span class="quote">&ldquo;</span>
                    <blockquote>
                      Being a complete vegetarian, I always faced difficulty gaining mass. The new training and diet approach by Amit helped me gain lean muscles without force feeding myself. I like how he puts in time to review my training videos daily and correct my form, it helped me a lot.
                    </blockquote>
                </div>
                
                <div class="testimonial-author-info">
                    <img src="{% static 'images/Round Photo_Dec162022_121533.png' %}" alt="Image">
                </div>

                </div>
              </div>


              <div>
                  <div class="testimonial-v1">
                  <div class="testimonial-inner-bg">
                      <span class="quote">&ldquo;</span>
                      <blockquote>
                        I was skinny fat despite working out for 5-6 months. Ever since I started working with Amit, not only did I get abs but I also gained strength and muscles. The best part is I didn't have to eat boiled food to reach this level and was easily adapatable to earlier schedule.
                      </blockquote>
                  </div>
                  
                  <div class="testimonial-author-info">
                      <img src="{% static 'images/Round Photo_Dec162022_121955.png' %}" alt="Image">
                  </div>

                  </div>
              </div>


              <div>
                  <div class="testimonial-v1">
                  <div class="testimonial-inner-bg">
                      <span class="quote">&ldquo;</span>
                      <blockquote>
                        I always used to lose muscles while getting lean but it wasn't the case this time. Body recomposition approach by Amit helped me lose fat and we were also able to put on lean muscle tissues. Also, to Include it imporoved my health conditions which are beneficial in my day to day lifestyle.
                      </blockquote>
                  </div>
                  
                  <div class="testimonial-author-info">
                      <img src="{% static 'images/Round Photo_Dec162022_121834.png' %}" alt="Image">
                  </div>

                  </div>
              </div>

              <div>
                  <div class="testimonial-v1">
                  <div class="testimonial-inner-bg">
                      <span class="quote">&ldquo;</span>
                      <blockquote>
                        Amit crafted a perfect 60 mins/day, 5 days/week workout plan which suits my lifestyle very well. I'm happy with the progress I've made in just 6 weeks but more importantly my sleep quality has improved and I feel energetic throughout the day.
                      </blockquote>
                  </div>
                  
                  <div class="testimonial-author-info">
                      <img src="{% static 'images/Round Photo_Dec162022_121650.png' %}" alt="Image">
                  </div>

                  </div>
              </div>
            </div>

           
          </div>

          <br><br>

          <section id="faq-section">
            <div class="container">
                <div class="section-heading-wrap text-center mb-5">
                  <h2 class="heading-h2 text-center divider"><span class="gsap-reveal">FAQ's</span></h2>
                  <span class="gsap-reveal"><img src="{% static 'images/divider.png' %}" alt="divider" width="76"></span>
                </div>
            <div class="row">
                    <!-- ***** FAQ Start ***** -->
              <div class="col-md-6 offset-md-3"></div>
                <div class="col-md-6 offset-md-3">
                  <div class="faq" id="accordion">

                    <div class="card">
                        <div class="card-header" id="faqHeading-1">
                            <div class="mb-0">
                                <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-1" data-aria-expanded="true" data-aria-controls="faqCollapse-1">
                                    <span class="badge"><i class="arrow down" ></i></span>Can I sign up now and start the program later?
                                </h5>
                            </div>
                        </div>
                        <div id="faqCollapse-1" class="collapse" aria-labelledby="faqHeading-1" data-parent="#accordion">
                            <div class="card-body">
                                <p>Yes, absolutely. You get to choose the starting date of your program. </p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="faqHeading-2">
                            <div class="mb-0">
                                <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-2" data-aria-expanded="false" data-aria-controls="faqCollapse-2">
                                    <span class="badge"><i class="arrow down"></i></span> Do I need to join the gym?
                                </h5>
                            </div>
                        </div>
                        <div id="faqCollapse-2" class="collapse" aria-labelledby="faqHeading-2" data-parent="#accordion">
                            <div class="card-body">
                                <p>Not necessarily. Transformation can be done with home workouts as well.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="faqHeading-3">
                            <div class="mb-0">
                                <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-3" data-aria-expanded="false" data-aria-controls="faqCollapse-3">
                                    <span class="badge"><i class="arrow down"></i></span>I am a beginner, can I follow your workouts? 
                                </h5>
                            </div>
                        </div>
                        <div id="faqCollapse-3" class="collapse" aria-labelledby="faqHeading-3" data-parent="#accordion">
                            <div class="card-body">
                                <p>Training plans will be designed taking your fitness levels into consideration. And I will personally be monitoring your training so your training will be done easily, accurately and safely. 
                                </p>
                            </div>
                        </div>
                    </div>  

                    <div class="card">
                      <div class="card-header" id="faqHeading-4">
                          <div class="mb-0">
                              <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-4" data-aria-expanded="false" data-aria-controls="faqCollapse-4">
                                  <span class="badge"><i class="arrow down"></i></span>Does this work anywhere in the world?
                              </h5>
                          </div>
                      </div>
                      <div id="faqCollapse-4" class="collapse" aria-labelledby="faqHeading-4" data-parent="#accordion">
                          <div class="card-body">
                              <p>Yes, this is a thorough online coaching program. You can join me from any part of the world.</p>
                          </div>
                      </div>
                  </div>

                  <div class="card">
                      <div class="card-header" id="faqHeading-5">
                          <div class="mb-0">
                              <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-5" data-aria-expanded="false" data-aria-controls="faqCollapse-5">
                                  <span class="badge"><i class="arrow down"></i></span> Are supplements necessary?
                              </h5>
                          </div>
                      </div>
                      <div id="faqCollapse-5" class="collapse" aria-labelledby="faqHeading-5" data-parent="#accordion">
                          <div class="card-body">
                              <p>No. You can get an amazing transformation even without supplements. 
                              </p>
                          </div>
                      </div>
                  </div>  
                    
                    



                  </div>
                
                </div>
            </div>                
          </section>

          <div class="unslate_co--section" id="contact-section">
            <div class="container">
              <div class="section-heading-wrap text-center mb-5">
                <h2 class="heading-h2 text-center divider"><span class="gsap-reveal">Get In Touch</span></h2>
                <h2 class="heading-h2 text-center divider"><span class="gsap-reveal" style="font-size: large;">Still got doubts? <a style="color: #D63447; font-size: large;" href="https://calendly.com/amitchapke/introcall">Schedule a Call</a>  or fill in the form and I'll contact you soon !</span></h2>
                <span class="gsap-reveal"><img src="{% static 'images/divider.png' %}" alt="divider" width="76"></span>

                <div class="form_wrapper">
                  <div class="form_container">
                    
                    <div class="row clearfix">
                      <div class="">
                        <form method="POST">
                          {% csrf_token %}
                            <div class="row clearfix">
                            <div class="col_half">
                              <div class="input_field"> <span><i aria-hidden="true" class="fa fa-user"></i></span>
                                {{ form.name }}
                              </div>
                            </div>
                            <div class="col_half">
                              <div class="input_field"> <span><i aria-hidden="true" class="fa fa-phone"></i></span>
                                {{ form.phone }}
                              </div>
                            </div>
                          </div>
                          
                          
                          
                          <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                            {{ form.email }}
                          </div>
                          
                          <div class="input_field"> <span><i aria-hidden="true" class="fa fa-bullseye"></i></span>
                            {{ form.goal }}
                          </div>
                          <div class="input_field"> <span><i aria-hidden="true" class="fa fa-clock-o"></i></span>
                            {{ form.availability }}
                          </div>
      
                          <input class="button" type="submit" value="Submit" />
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>


        <!-- Loader -->
          <div id="unslate_co--overlayer"></div>
          <div class="site-loader-wrap"><div class="site-loader dark"></div></div>
          </div>
    </div>

    <footer class="unslate_co--footer unslate_co--section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-7">
            
            <div class="footer-site-logo"><a href="#">Amit Chapke<span>.</span></a></div>

            <ul class="footer-site-social">
              <li><a href="https://www.facebook.com/profile.php?id=100085186911337&mibextid=ZbWKwL">Facebook</a></li>
              <li><a href="https://www.instagram.com/amit.chapke/">Instagram</a></li>
            </ul>

            <p class="site-copyright" style="font-size: small; font-family: Arial, Helvetica, sans-serif;">
              
              <script>
                document.write(new Date().getFullYear());
              </script>  Developed  by CRuZ AI
              
            
            </p>

          </div>
        </div>
      </div>
    </footer>

    <script src="{% static 'js/scripts-dist.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/flick.js' %}"></script>
    <script src="{% static 'js/toggle.js' %}"></script>
   


   

  </body>

</html>